* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

:root {
    --color1: #0065FC;
    --color2: #DEEBFF;
    --color3: #F2F2F2;
    --color4: #D9D9D9;
}

body {
    max-width: 1400px;
}

#conteneur {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-weight: 700;
    font-size: 22px; 
}

h2 {
    font-weight: 700;
    font-size: 16px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
}


.euro {
    font-weight: bold;
}


/************************************************************* HEADER ****************************************************************/

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    padding: 45px 10px;
}

header {
    position: relative;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

#logo img {
    width: 61px;
    height: 17px;
}

header nav {
    position: absolute;
    right: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

header a:hover {
    border-top: 2px var(--color1) solid;
    color: var(--color1);
}

/************************************************* SECTION ID="RECHERCHE" *******************************************************/
#recherche {
    width: 100%;
}
#recherche h1 {
    font-weight: 700;
    font-size: 22px;
}

#recherche p {
    font-size: 16px;
    margin-top: 20px;
}


#barre_recherche {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    width: 420px;
    height: 50px;
}
#localisation {
    width: 50px;
    height: 50px;
    background-color: var(--color3);
    border: 1px var(--color3) solid;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    padding: 15px 10px;
}

#barre_recherche form [type="text"]{
    width: 235px;
    height: 50px;
    padding-left: 5px;
    border: 1px var(--color3) solid;
    font-size: 18px;
    font-weight: 700;
}

#barre_recherche button{
    width: 135px;
    height: 50px;
    border: 1px var(--color1) solid;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--color1);
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#filtre {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtre i {
    color: var(--color1);
}

.nom_filtre {
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nom_filtre:hover {
    background-color: var(--color2);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#economique {
    width: 175px;
    height: 48px;
}

#familial {
    width: 136px;
    height: 48px;
}

#romantique {
    width: 172px;
    height: 48px;
}

#animaux {
    width: 226px;
    height: 50px;
}

.filtre_1_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filtre_1 {
    width: 352px;
}

#filtre_2 {
    width: 430px;
}


#info_logement i {
    border: 2px #D9D9D9 solid;
    color: var(--color1);
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 10px;
}

/*************************************************DIV ID=HEBERGEMENTS_POPULAIRES****************************************************/

#hebergements_populaires {
    display:flex;
    flex-direction: column;
} 

/*************************************************** SECTION ID="HEBERGEMENTS" *****************************************************/

#hebergements {
    width: 100%;
    min-height: 625px;
    padding-top: 50px;
    background-color: var(--color3);
    border-radius: 20px;
}

#hebergements h1 {
    margin-left: 40px;
}

.card_heb {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card_heb_part {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.card_heb a {
    margin-bottom: 30px;
    padding: 0;
    height: 199px;
    flex: 0 1 246px;
}

.card_hebergements {
    padding: 5px;
    height: 199px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.images_hebergements  {
    max-width: 246px;
    width: 100%;
    height: 124px;
    margin: auto;
    border-radius: 20px 20px 0 0;
}

#images_hebergements_canebiere {
    background: url(../images/hébergements/canebiere.jpg) center/cover;
}
#images_hebergements_port {
    background: url(../images/hébergements/port.jpg) center/cover;
}
#images_hebergements_mouettes {
    background: url(../images/hébergements/mouettes.jpg) center/cover;
}
#images_hebergements_mer {
    background: url(../images/hébergements/mer.jpg) center/cover;
}
#images_hebergements_panier {
    background: url(../images/hébergements/panier.jpg) center/cover;
}
#images_hebergements_amina {
    background: url(../images/hébergements/amina.jpg) center/cover;
}


.descriptif, .notation {
    font-size: 12px;
}

.descriptif_notation_hebergements {
    margin-left: 15px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notation {
    color: var(--color1);
}

.notation_grise {
    color: var(--color4);
}

.afficher_plus {
    font-weight: 700;
    font-size: 18px;
    margin-left: 44px;
    margin-bottom: 45px;
}



/************************************************** SECTION ID=POPULAIRES **************************************************/

#populaires {
    width: 100%;
    height: 280px;
    min-height: 280px;
    margin-top: 55px;
    background-color: var(--color3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card_pop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titre_populaires_icone {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.titre_populaires_icone i {
    color: var(--color1);
}
.card_populaires {
    width: 30%;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.images_populaires {
    min-width: 95px;
    height: 134px;
    margin: 5px;
    border-radius: 20px 0 0 20px;
}

#images_populaires_matin {
    background: url(../images/populaires/matin.jpg) center/cover;
}

#images_populaires_eau {
    background: url(../images/populaires/eau.jpg) center/cover;
}

#images_populaires_blanc {
    background: url(../images/populaires/blanc.jpg) center/cover;
}

.descriptif_notation_populaires {
    flex: 0 1 auto;
    margin: 17px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}




/****************************************************** SECTION ID=ACTIVITES ******************************************************/

#activites {
    margin: 50px 0;

}

#activites a {
    width: 25%;
}

.card_act {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_activites {
    width: 100%;
    height: 270px;
    border: 2px var(--color3) solid;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.images_activites {
    width: 100%;
    height: 210px;
    border-radius: 20px 20px 0 0;
}
#images_activites_port {
    background: url(../images/activites/vieux_port.jpg) center/cover;
}

#images_activites_pomegues {
    background: url(../images/activites/pomegues.jpg) center/cover;
}

#images_activites_calanques {
    background: url(../images/activites/calanques.jpg) center/cover;
}

#images_activites_garde {
    background: url(../images/activites/garde.jpg) center/cover;
}

.card_activites h2 {
    width: 100%;
    height: 54px;
    padding: 14px 20px;
    
}
/**************************************************************** FOOTER **********************************************************/

footer {
    background-color: var(--color3);
    padding-top: 50px;
}

.card_foot {
    width: 70%;
    margin-left: 65px;
    display: flex;
    justify-content: space-between;
}